<html>
<head>
  <meta charset="utf-8" />
	<title>ANime</title>
  <link rel="stylesheet" href="..\assets\css\skewedstyle.css" type="text/css" />


  <meta charset="utf-8">
  <meta  name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

 <!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link rel="stylesheet" href="..\assets\css\fullscreenmenustyle.css" type="text/css" />

 <script src="http://code.jquery.com/jquery-3.2.1.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>

 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

 <link href="../assets/css/sty.css" rel='stylesheet' type='text/css'>


 <script type="text/javascript">
 $(document).ready(function(){
   $(' .icon').click(function(){
     $(' .search').toggleClass(' active')
   });
 });

 </script>




</head>
<body id="bk">


    <nav class="navbar  navbar-fixed-top" id="my-navbar">

      <div class="container">
    <div class="navbar-header">
      <img src="..\logo!.png" width="8%">
     <a class="navbar-brand" style="color:white" href="#section1">&nbsp;&nbsp;&nbsp;&nbsp;FEED ANiME</a>

      <div class="search">

        <div class="icon"></div>
        <div class="form">
          <form>

             <a class="dropdown-toggle" style="color:white" id="para1" href="..\parallax.html">INTRODUCING</a><br />
             <a href="video.html" class="dropdown-toggle" style="color:white" id="para1" >TOP 10 ANiME</a><br />
             <a href="skewed.html" class="dropdown-toggle" style="color:white" id="para1" >CHARACTER SPOTLIGHT</a><br />
             <a href="whyloveamv.html" class="dropdown-toggle" style="color:white"  >WHY<i class="fa fa-heart"></i>AMV??</a><br />

          </form>
        </div>
      </div>
      </div>


      </nav>



  <section class="skewedBox1">

    <div class="box">
    <h1 id="white">GOKU(DRAGON BALL Z)</h1>
   <img src="..\assets\img\Goku.png" width="25%" align="right" />
   <p id="white" >

   The main protagonist and hero of the Dragon Ball manga series and animated
       television series created by Akira Toriyama. He is one of the survivors of
       the extinct Saiyan race. He was sent as a baby to planet Earth in order to destroy it.
       When he arrived he was a violent kid, due to his warrior nature. However,
        he suffered an accident which made him lose his memory. He became a kind and calm kid.
      Trained, he became a talented martial artist and world's greatest defender.</p>

  </div>


  </section>


  <section class="skewedBox2">
      <div class="box">

  <h1 >Light Yagmi<br />(DEATH NOTE)</h1>
<img src="..\assets\img\light.jpg" width="50%" style="margin-right:40px;" align="left"/>
    <p>
      The protagonist of Death Note, Light is an extremely intelligent but bored 17-year old student.
       When he finds the Death Note.he makes it his goal to cleanse the world of evil and become the New God of this world.
    </p>
  </div>
      </section>
      <section class="skewedBox3">
        <div class="box">
        <h1 id="white">Eren Yeager(ATTACK ON TITAN)</h1>
        <img src="..\assets\img\Eren.png" width="25%" align="right" />
        <p id="white">
          Eren is the main protagonist of Shingeki no Kyojin. He is best known for his rage and
           drive to eliminate all titans for killing his mother when he was a child.
          Eren also possesses the power of two of the nine legendary Titan Shifters, "The Assault Titan" and "The Original Titan".
          In his Titan form, he can lift boulders weighing several tons, '
       harden his body, boasts an impressive healing factor and exhibits the power to control all Titans with
        the power of the Original Titan.
         However, to use the final ability, Eren has to Sync-up with a member of the Royal Family to do so.
        </p>
        </div>
      </section>
      <section class="skewedBox4">
          <div class="box">
      <h1 >ITACHI UCHIHA<br />(Naruto)</h1>
      <img src="..\assets\img\itachi.png" width="50%"  align="left"/>
        <p>
          Itachi Uchiha is the older brother of Sasuke Uchiha. He was of the Uchiha Clan of
          Konohagakure and eventually became a Konoha missing-nin. He was a member of the Akatsuki.
          He was the best friend of Shisui Uchiha.
           He was considered a prodigy by the Uchiha due to his talents and intelligence
        </p>
      </div>
          </section>
          <section class="skewedBox5">
            <div class="box">
            <h1 id="white">KEN KANEKI(TOKYO GHOUL)</h1>
            <img src="..\assets\img\ken.png" width="25%" align="right" />
            <p id="white">
              Ken Kaneki is the main protagonist of Tokyo Ghoul.
              He was living a normal life as a normal human until he was lead into a trap.
              Following certain events he was transplanted Rize's kakuhou and became a One Eyed Ghoul.
              Even as an adult Kaneki keeps the traits he had as a child up until he was tortured.
              After being tortured by the brutal ghoul Yamori, Kaneki's hair turns white and his nails
              turn the color black as the result of heavy mental stress and forced regeneration.
            </p>
            </div>
          </section>
          <section class="skewedBox6">
              <div class="box">
          <h1 >YATO<br />(NORAGAMI)</h1>
          <img src="..\assets\img\yato.png" width="45%"  align="left"/>
            <p>
              Yato (夜ト?) is one of the three protagonists of the series. Currently,
              he considers himself a God of Fortune, although in the past he has been labeled as being a God of War,
              a God of Calamity and the God of Depravity.Yato's real name is Yaboku, which is the name he was
              given as a God of Calamity. ...
            </P>
          </div>
        </section>
          <section class="skewedBox7">
            <div class="box">
            <h1 id="white">SHOYO HINATA(HAIKYUU)</h1>
            <img src="..\assets\img\Shoyo.png" width="25%" align="right" />
            <p id="white">
              Shōyō Hinata (Japanese: 日向 翔陽 Hinata Shōyō) is the main protagonist of the Haikyū!!
               series by Haruichi Furudate. He is a first year student at Karasuno High and is one of the volleyball team's
                middle blockers. Hinata's dream is to become strong enough to spike past tall blockers, just like his idol,
                the Small Giant, once did. However,
              since he lacks height to play middle blocker effectively, he specializes in jumping to compensate.
            </P>
            </div>
          </section>
          <section class="skewedBox8">
              <div class="box">
          <h1 >NAGATO<br />(NARUTO)</h1>
          <img src="..\assets\img\pain.png" width="28%"  align="left"/>
            <p>
              Nagato (長門, Nagato) was a shinobi of Amegakure and descendant of the Uzumaki clan.
              Forming Akatsuki alongside his friends (and fellow war orphans) Yahiko and Konan, Nagato
              dreamed of bringing peace to the violent shinobi world. However, following Yahiko's death, Nagato
              adopted the alias of Pain  and, along with Konan,
              began leading a new Akatsuki.
            </p>
          </div>
        </section>
          <section class="skewedBox9">
            <div class="box">
            <h1 id="white">SAITAMA(ONE PUNCH MAN)</h1>
            <img src="..\assets\img\Saitama.png" width="40%" align="right" />
            <p id="white">
              Saitama (サイタマ, Saitama) is the main protagonist of One-Punch Man and the most powerful hero alive.
              Saitama faces a self-imposed existential crisis,
              as he is now too powerful to gain any thrill from his deeds.HE is currently
              registered with the Hero Association as a B-Class Rank 7 professional hero and is tasked to defend Z-City
              against Mysterious Beings. Under the Hero Association, he is given the name Caped Baldy.
            </p>
            </div>
          </section>
          <section class="skewedBox10">
              <div class="box">
          <h1 >ICHIGO KUROSAKI<br />(BLEACH)</h1>
          <img src="..\assets\img\Ichigo23.png" width="55%"  align="left"/>
            <p>
              Ichigo Kurosaki (黒崎 一護, Kurosaki Ichigo) is a Human who has Shinigami powers and is a Substitute Shinigami.
              Ichigo is the son of Isshin and Masaki Kurosaki, and older brother of Karin and Yuzu.
              He is also married to Orihime Inoue and has a son named Kazui Kurosaki.
            </p>
                    </div>
        </section>
</body>
</html>
