<!DOCTYPE html>
<html>
<head>
  <title>ANime</title>




    <meta charset="utf-8">
    <meta  name="viewport" content="width=device-width, initial-scale=1">


      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <link rel="stylesheet" href="..\assets\css\fullscreenmenustyle.css" type="text/css" />

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

   <script src="http://code.jquery.com/jquery-3.2.1.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>



   <link href="../assets/css/sty.css" rel='stylesheet' type='text/css'>


   <script type="text/javascript">
   $(document).ready(function(){
     $(' .icon').click(function(){
       $(' .search').toggleClass(' active')
     });
   });

   </script>
   <script>
   $(function() {
     $(".img").click(function () {
       var theModal = $(this).data("target"),
       videoSRC = $(this).attr("data-video"),
       videoSRCauto = videoSRC + "?modestbranding=1&rel=0&controls=1&showinfo=0&html5=1&autoplay=1";
       $(theModal + ' iframe').attr('src', videoSRCauto);
       $(theModal + ' button.close').click(function () {
         $(theModal + ' iframe').attr('src', videoSRC);
       });
     });
   });
   </script>

   <link href="../assets/css/amv.css" type="text/css" rel="stylesheet">

</head>
<body>

  <nav class="navbar   navbar-fixed-top" id="my-navbar">

    <div class="container">
  <div class="navbar-header">
    <img src="../logo!.png" width="8%">
   <a class="navbar-brand" style="color:white" href="#section1">&nbsp;&nbsp;&nbsp;&nbsp;<h1>FEED ANiME</h1></a>

    <div class="search">

      <div class="icon"></div>
      <div class="form">
        <form>

           <a class="dropdown-toggle" style="color:white" id="para1" href="parallax.html">INTRODUCING</a><br />
           <a href="views\video.html" class="dropdown-toggle" style="color:white" id="para1" ></a><br />
           <a href="views\skewed.html" class="dropdown-toggle" style="color:white" id="para1" >CHARACTER SPOTLIGHT</a><br />
           <a href="views\whyloveamv.html" class="dropdown-toggle" style="color:white"  >WHY<i class="fa fa-heart"></i>AMV??</a><br />

        </form>
      </div>
    </div>
    </div>

    </nav>

<div>
<h1>ANiME MUSIC VIDEOS</h1>
  <div class="contain">
      <div id="carousel">
      <figure><video  width="100%" height="120" playsinline autoplay muted loop>
                  <source  src="../assets/gif/gif1.mp4"  type="video/mp4">
        </video></figure>
      <figure><video    width="100%" height="120" playsinline autoplay muted loop>
                  <source src="../assets/gif/gif2.mp4"  type="video/mp4">
        </video></figure>

        <figure><video   width="100%" height="120" playsinline autoplay muted loop>
                  <source src="../assets/gif/gif3.mp4"  type="video/mp4">
        </video></figure>

        <figure><video   width="100%" height="120" playsinline autoplay muted loop>
                  <source src="../assets/gif/gif4.mp4"  type="video/mp4">
        </video></figure>

        <figure><video   width="100%" height="120" playsinline autoplay muted loop>
                  <source src="../assets/gif/gif5.mp4"  type="video/mp4">
        </video></figure>

        <figure><video   width="100%" height="120" playsinline autoplay muted loop>
                  <source src="../assets/gif/gif6.mp4"  type="video/mp4">
        </video></figure>

        <figure><video   width="100%" height="120" playsinline autoplay muted loop>
                  <source src="../assets/gif/gif7.mp4"  type="video/mp4">
        </video></figure>

        <figure><video   width="100%" height="120" playsinline autoplay muted loop>
                  <source src="../assets/gif/gif8.mp4"  type="video/mp4">
        </video></figure>

        <figure><video   width="100%" height="120" playsinline autoplay muted loop>
                  <source src="../assets/gif/gif9.mp4"  type="video/mp4">
        </video></figure>
    </div>
  </div>


<!-- hexagon start-->


<div class='grid'>
  <div  class='grid--item'>
    <div  class='img' style='background-image: url("../assets/img/amv2.jpg");' data-video="https://www.youtube.com/embed/Bk9ZOHqFJfM" data-toggle="modal" data-target="#videoModal" data-backdrop="static" data-keyboard="false"></div>
    <div class='container'>
      <h2>Reality</h2>
      <div class='desc'>AMV BY Anime4days</div>
    </div>
  </div>
  <div class='grid--item'>
    <div class='img' style='background-image: url("../assets/img/amv1.jpg");' data-video="https://www.youtube.com/embed/SqJ2cD-vyEI" data-toggle="modal" data-target="#videoModal" data-backdrop="static" data-keyboard="false"></div>
    <div class='container'>
      <h2>Ghost</h2>
      <div class='desc'>AMV BY Anime4days</div>
    </div>
  </div>
  <div class='grid--item'  >
    <div class='img' style='background-image: url("../assets/img/amv5.jpg");' data-video="https://www.youtube.com/embed/a2GujJZfXpg" data-toggle="modal" data-target="#videoModal" data-backdrop="static" data-keyboard="false"></div>
    <div class='container'>
      <h2>Sparkle</h2>
      <div class='desc'>Kimi no na wa(Your Name)</div>
    </div>
  </div>
  <div class='grid--item'>
    <div class='img' style='background-image: url("../assets/img/amv6.jpg");' data-video="https://www.youtube.com/embed/hMKOCfhWx7k" data-toggle="modal" data-target="#videoModal" data-backdrop="static" data-keyboard="false"></div>
    <div class='container'>
      <h2>I Feel It Coming</h2>
      <div class='desc'>Yona Of The Dawn</div>
    </div>
  </div>
  <div class='grid--item'>
    <div class='img' style='background-image: url("../assets/img/amv7.jpg");' data-video="https://www.youtube.com/embed/gUjeFa5kS1Q" data-toggle="modal" data-target="#videoModal" data-backdrop="static" data-keyboard="false"></div>
    <div class='container'>
      <h2>Hungry</h2>
      <div class='desc'>ONE PUNCH MAN</div>
    </div>
  </div>
  <div class='grid--item'>
    <div class='img' style='background-image: url("../assets/img/amv8.jpg");' data-video="https://www.youtube.com/embed/mMkoa28Vm7g" data-toggle="modal" data-target="#videoModal" data-backdrop="static" data-keyboard="false"></div>
    <div class='container'>
      <h2>Louder Than Words</h2>
      <div class='desc'>Attack On Titan</div>
    </div>
  </div>
  <div class='grid--item'>
    <div class='img' style='background-image:url("../assets/img/amv9.jpg");' data-video="https://www.youtube.com/embed/-nY0hvNOR_U" data-toggle="modal" data-target="#videoModal" data-backdrop="static" data-keyboard="false"></div>
    <div class='container'>
      <h2>Be Somebody</h2>
      <div class='desc'>AMV by Anime4days</div>
    </div>
  </div>
</div>


<!-- hexagon end -->



<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <iframe width="100%" height="350" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
</body>
</html>

<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>


<!-- Latest compiled anA minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>



</body>
</html>

